section(class="canvas goal-1" id="goal-1")

    h2 1

    div(class="content")

        div

            img(src="images/home/goal-1/_inline/donskoi-1.jpg" inline)

            article

                h2 SEA @ BOS :: 2022-02-01

                p.
                    <a href="https://www.nhl.com/video/donskoi-nets-1st-of-the-season/t-329215324/c-10426552">Donskoi Goal @ 0:42 in the 3rd Period</a>

